*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px red solid; */
}

.clear-fix
{
    clear: both;
}

/* section one */


.home
{
  background-image: url(./images/drew-coffman-1872.jpg);  
  background-size: 100%;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homecontent
{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.nav-bar
{
    padding-top: 20px;
    margin: auto;
    width:100%;
}



.nav-bar .logo
{

    padding-left: 70px;

}
.nav-bar .logo img
{
    width: 25%;
}

.nav-bar ul
{
    list-style: none;
    padding-left: 20px;
    padding-top: 5px;
}
.nav-bar ul li
{
  display: inline-block;
  padding-left: 10px;
}
.nav-bar ul li a
{
    color: #d3d3d3;
    text-decoration: none;
}


.carusle 
{
    /* text-align: center;
    color: white;
    margin-top: 150px;
    padding-top: 70px;
    font-size: larger;
     */

      position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  z-index: 2;
  color:#d3d3d3 ;
}


.carusle p 
{
   padding-top: 30px;
   text-align: center;
   margin-bottom: 20px;
}

.carusle  h1
{
   padding-top: 20px;
  font-style: italic;
  
}

.carusle button
{
  border-color: antiquewhite;
    border-radius: 10%;
    padding: 20px 30px;
    /* margin-top: 10px;
    margin-bottom: 70px; */

}
.button-2 
{
    background-color : transparent ;
    color: white;
    transition: 1s;
    margin-top: 10px;
    padding: 20px 32px !important; 

}

.button-2:hover
{
   background-color : white;
    color: black;
}

.button-1
{
     background-color : transparent ;
    color: white;
    transition: 1s;
}

.button-1:hover{
    background-color: white;
    color: rgb(15, 15, 15);
}





/*section two*/


.contain
{
    margin: 20px;
}

.contain3
{
    background-color: rgb(245, 243, 243);
}

.twoone img
{
    border-radius: 10px;
    width: 60%;
    
}


.title p
{
    color: rgb(106, 105, 105);
}

.float
{
    padding-top: 7px;
}

.float img 
{
   float: left;

}





/*section three */




.three-one h2 
{
    
    color: rgb(39, 39, 39);
}

.three-one p
{
    color: rgb(123, 122, 122);
}

.three-two img
{
    border-radius: 10px;
    width: 70%;
}


/*section four*/
.parent-four
{
    margin-top: 80px;
}

.four-one
{
    text-align: center;
   
}

.four-one p
{
    color: rgb(106, 105, 105);
    padding-top: 20px;
}

.four-two
{
    margin-top: 50px;
    float: left;
    width: 33%;
    text-align: center;
   
}

.four-two img
{
   
    width: 80%;
    border-radius: 10px;
    margin: 10px 0px;
   
}

.four-two-
{
    margin-top: 20px;
    float: left;
    width: 33%;
    text-align: center;
    
   
}

.four-two- h3
{
   padding-bottom: 15px;
}

.four-two- p
{
   color: rgb(106, 105, 105);
   padding-top: 10px;
}

.parent-four .padding
{
    padding-left: 15px;
}




/*section five*/

.parent-five
{
    margin-top: 100px;
    background-color: rgb(245, 243, 243);

}


.five-one
{
    
    width: 45%;
    float: left;
    padding: 30px 0px 0px 100px;
   
    
}

.five-one img
{
   float: left;
}
.five-one p
{
     float: left;
   padding-top: 15px;
   padding-left: 10px;
   color: rgb(106, 105, 105);
}




.five-two
{
    
    width: 50%;
    float: left;
   text-align: right;

}

.five-two img
{
    width: 65%;
    margin: auto;
    border-radius: 10px;
    margin: 30px 0px;
    
}




